body {
    font-family: Arial, sans-serif;
    background-color: #E6D5B9;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
header{
    display: flex;
    background-color: white ;
    border-radius: 20px 20px 0 0;
    color: #000;
    justify-content: center;
}
.form{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.container {
    background-color: #4E3835;
    border-radius: 20px;
    width: 60%;
    max-width: 700px;
    min-width: 400px;
}
.showId{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 30px;
}
h2{
    margin: 0px 10px ;
}
.input-block > label, .input-block > input{
    margin: 10px 0px;
}
h1 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
}

.form, .products, .summary {
    margin-bottom: 20px;
}

.input-block {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin:0 10px;
}

.column {
    display: inline-block;
    width: 45%;
    vertical-align: top;
}

.item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

input[type="checkbox"] {
    margin-right: 10px;
}

input[type="number"] {
    width: 40px;
}

button {
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    width: 90%;
}
.summary{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.summary > p{
    text-align: center;
}

button:hover {
    background-color: #e0e0e0;
}